---
layout: default
---
<h1 class="text-center font-bold mb-0!">
  Posts in category
  <span class="border border-taupe-400 hover:border-green-800 rounded-md py-1 px-2 capitalize inline-block whitespace-nowrap">
    {% include display-name.html type="categories" name=page.autopages.display_name %}
  </span>
</h1>

<p class="text-center text-neutral-400 mt-2!">
  {{ paginator.total_posts }} {% if paginator.total_posts == 1 %}post{% else %}posts{% endif %}
</p>

<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4 p-4 not-prose">
  {% for post in paginator.posts %}
    {% include card.html post=post %}
  {% endfor %}
</div>

{% include pagination.html %}
