<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  {% feed_meta %}
  {% seo %}
</head>
<body class="bg-taupe-800">
  {% include nav.html %}
  <main class="mx-auto max-w-5xl px-4 py-8 mt-8 md:mt-12 prose md:prose-lg prose-neutral prose-invert">
    {{ content }}
  </main>
  {% include footer.html %}
</body>
</html>
