---
layout: default
---

<article class="max-w-5xl mx-auto pb-8 md:pb-12">
  <h1 class="mb-2! text-center">{{ page.title }}</h1>
  <div class="flex flex-col md:flex-row text-center justify-center-safe md:gap-4 not-prose prose-base text-taupe-400/80">
    <time datetime="{{ page.date | date_to_xmlschema }}">
      📆 {{ page.date | date: "%B %-d, %Y" }}
    </time>
    {% if page.location %}
      <span>📍 {{ page.location }}</span>
    {% endif %}
  </div>

  <section class="max-w-2xl mx-auto">

    {{ content }}

    <div class="text-sm pt-4 flex flex-wrap justify-center-safe gap-1">
      {% if page.categories %}
        {% for category in page.categories %}
          <a href="{{ '/category/' | append: category | downcase | relative_url }}"
            class="border border-taupe-400/80 hover:border-green-800 rounded-sm py-1 px-2 no-underline text-taupe-400">
            🗃️ {% include display-name.html type="categories" name=category %}
          </a>
        {% endfor %}
      {% endif %}
      {% if page.tags %}
        {% for tag in page.tags %}
          <a href="{{ '/tag/' | append: tag | downcase | relative_url }}"
            class="bg-taupe-500 hover:bg-green-800 text-neutral-900 hover:text-neutral-200 rounded-sm py-1 px-2 no-underline">
            🏷️ {% include display-name.html type="tags" name=tag %}
          </a>
        {% endfor %}
      {% endif %}

      {% assign post_tags = "" | split: "" %}
      {% for photo in page.photos %}
        {% if photo.tags %}
          {% assign post_tags = post_tags | concat: photo.tags %}
        {% endif %}
      {% endfor %}
      {% assign post_tags = post_tags | uniq | sort %}

      {% if post_tags.size > 0 %}
        <!-- <span class="py-1 px-2 text-taupe-400">sdf</span> -->
        {% for tag in post_tags %}
          <a href="{{ tag | slugify | prepend: '/photos/' | append: '/' | downcase | relative_url }}"
            class="bg-taupe-400/80 hover:bg-green-800 text-neutral-900 hover:text-neutral-200 rounded-sm py-1 px-2 no-underline capitalize">
            🚗 {% include display-name.html type="tags" name=tag %}
          </a>
        {% endfor %}
      {% endif %}
    </div>
  </section>
</article>

{% if page.photos %}
  <section class="mt-12 columns-2 gap-4 md:columns-3 not-prose">
    {% for photo in page.photos %}
      <a href="{{ photo.src | relative_url }}" data-lightbox="gallery" data-caption="{{ photo.alt }}">
        <img class="mb-4 w-full break-inside-avoid rounded"
          src="{{ photo.src | relative_url }}"
          alt="{{ photo.alt }}"
          loading="lazy" decoding="async">
      </a>
    {% endfor %}
  </section>

  <section class="mt-18 max-w-2xl mx-auto bg-taupe-400 prose rounded-md py-4 px-6">
    <h3 class="mt-0! mb-2!">Saw a photo you'd like a copy of?</h3>
    <p class="mb-0!">I sell my photos individually or as bundles, <a href="{{ '/contact' | relative_url }}">reach out to me</a> to enquire about getting a copy for yourself.</p>
  </section>
{% endif %}
